@use "./base.scss";

// put your custom CSS here!
/*
 * Fix for components in the same sidebar (e.g., Explorer and TOC)
 *
 * This tells each component inside the left sidebar to:
 * 1. Not shrink when another component expands (flex-shrink: 0).
 * 2. Manage its own scrolling if its content is too tall (overflow-y: auto).
 * 3. Have a maximum height to avoid pushing others out (max-height: 40vh).
 */

 /* Make all callout titles 20pt */
.callout-title .callout-title-inner p {
  font-size: 20pt;
}

/*
 * Fix for embedded PDF frames
 * Overrides the default 16:9 aspect ratio
*/
iframe.pdf {
  aspect-ratio: auto; /* Remove the 16:9 ratio */
  height: 80vh;       /* Set height to 80% of the viewport height */
  width: 100%;        /* Ensure it fills the container width */
}